{{- $recentArticles := 5 -}}
{{- if .Site.Params.homepage.showRecent | default false -}}
  {{- if index .Site.Params.homepage "showRecentItems" -}}
    {{- $recentArticles = .Site.Params.homepage.showRecentItems -}}
  {{- end -}}

  <div class="mt-8">
    {{- if and .Site.Params.homepage.cardView (not .Site.Params.homepage.cardViewScreenWidth) | default false -}}
      {{- partial "recent-articles/cardview.html" . -}}
    {{- else if and .Site.Params.homepage.cardView .Site.Params.homepage.cardViewScreenWidth | default false -}}
      {{- partial "recent-articles/cardview-fullwidth.html" . -}}
    {{- else -}}
      {{- partial "recent-articles/list.html" . -}}
    {{- end -}}
    {{- if .Site.Params.homepage.showMoreLink | default false -}}
      {{- $showMoreLinkDest := "/posts/" -}}
      {{- if index .Site.Params.homepage "showRecentItems" -}}
        {{- $showMoreLinkDest = .Site.Params.homepage.showMoreLinkDest -}}
      {{- end -}}
      <a href="{{ $showMoreLinkDest }}" class="flex items-center mt-8 text-sm text-neutral-500 dark:text-neutral-400 hover:text-primary-500">
        <span>{{ i18n "recent.show_more" | markdownify }}</span>
        <span class="ml-1">
          {{- partial "icons/arrow-right.svg" (dict "class" "h-4 w-4") -}}
        </span>
      </a>
    {{- end -}}
  </div>
{{- end -}}
